.Top {
    padding-top: 30px;
}

.Top .top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Top .top-header h3 {
    text-align: center;
    margin-right: 20px;
}

.Top .top-list{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Top .top-card {
    background-color: white;
    width: 400px;
    padding: 20px;
    margin: 10px;
    border: #f0f0f3 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.02),0 2px 14px 0 rgba(0,0,0,.1);
}

.Top .top-card h5, .Top .top-card p {
    margin: 0;
}

.cronometer {
    text-align: center;    
}