.Login, .Signup{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 400px;
    margin: 20px;
}

.page-title {
    text-align: center;
}